.toast-container {
  min-width: 350px;
  .Toastify__close-button {
    > svg {
      position: absolute;
      right: 10px;
      color: #eeeeee;
    }

    opacity: 1;
  }

  .Toastify__toast {
    min-width: 350px;
    height: 50px;

    @media (max-width: 600px) {
      width: calc(100% - 32px) !important;
      margin: 0 auto 16px;
    }

    max-width: auto;
    background-color: #181818;
    border: 1px solid #464646;
  }

  .Toastify__toast-body {
    display: flex;
    white-space: nowrap;
    align-items: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    color: #eeeeee;
  }

  /* .Toastify__progress-bar {
  } */
}
