.container {
    margin-top: 20px;
    border: 1px solid black;
    width: 664px;

    & .title {
        margin: 16px 10px;
        padding-bottom: 16px;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        border-bottom: 1px solid black;

    }

    & .titleItem {
        margin: 8px 10px 16px;
        padding-bottom: 16px;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        border-bottom: 1px solid black;
    }

    & .content {
        margin: 16px 0 24px 10px;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        border-bottom: 1px solid black;
        padding-bottom: 16px;
    }

    & .contentItem {
        margin: 16px 0 24px 10px;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        border-bottom: 1px solid black;
        padding-bottom: 16px;
    }

    & .btnWrapper {
        display: flex;
        padding: 0 32px;
        margin-bottom: 20px;
        gap: 0 20px;

        button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 47px;
            background: none;
            outline: none;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            transition: 300ms;
            //draggable 방지
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}